
<header>
  <nav class="navbar navbar-expand bg-success">
    <div class="container-fluid">

      <div class="" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex align-items-between ">

          <div class="d-flex">
            <h3 class="text-white">La Concessionaria Italiana</h3>
          </div>

          <div class=" d-flex ms-3">

            <a class="nav-link text-white" routerLink="/">Home</a>
            <a class="nav-link text-white" routerLink="/fiat">Fiat</a>
            <a class="nav-link text-white"routerLink="/ford">Ford</a>
            <a class="nav-link text-white" routerLink="/audi">Audi</a>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>
