/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    margin:15px;
}
/* HEADER */
#parte-iniziale{
    text-align: center;

}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
