.container{
    background-color: rgba(254,247,226,255);
    width: fit-content;
    border-radius: 80px;
    color: rgba(116,35,5,255);
    margin: 20px;
    padding-bottom: 25px;
}
.container img{
    width: 300px;
    height: 220px;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    margin-bottom: 15px;
}

.descrizione h3{
    font-size: 20px;
    font-weight: bold;
}
.descrizione p{
    margin-top: 5px;
    font-size: 16px;
    margin-left: 10px;
}
.container-descr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.container-descr button{
    background-color: rgba(255,223,127,255);
    border-radius: 50px;
    border: none;
    width: 150px;
    height: 40px;
    color: rgba(116,35,5,255);

}





/*.add-card{
    background-color: rgba(255,223,127,255);
    border-radius: 50px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    
}
