<img class="mx-4 audi-img" src="../../../assets/img/audi.png" alt="">
<div class="d-flex gap-4">

  <div  *ngFor="let auto of audi">
    <div [ngClass]="{'bg-success':auto.available,'bg-danger':!auto.available}" class="card">
      <div class="card-body">
        <img [src]="auto.modelImage" alt="">
        <h5 class="card-title text-white">{{auto.brand}}</h5>
        <p class="card-text text-white">{{auto.model}}</p>
        <p class="card-text text-white">{{auto.price | currency:'EUR'}} </p>



      </div>
    </div>
  </div>
</div>
