.logo{
    text-align: center;
    margin: 0%;
}
.h1{
    text-align: center;
    margin: 0%;
}
.pre-immagine{
    text-align: center;
    margin: 0%;
}
.immagine-text{
    text-align: center;
    margin: 0%;
}
.sotto-foto{
    
}