.logo{
    text-align: center;
    margin: 0%;
    
}
.h1{
    text-align: center;
    margin: 0%;
}
.pre-immagine{
    text-align: center;
    margin: 0%;
}
.immagine-text{
    text-align: center;
    margin: 0%;
}
.sotto-foto{
    text-align: center;
    margin: 0%;
}
.primo-h3{
    text-align: center;
    margin: 0%;
}
 .div-elenco{
    text-align: center;
    margin: 0%;
 }
 .div-finale{
    text-align: center;
    margin: 0%;
 }
 #ultima-p{
    text-align: center;
    margin: 0%;
 }
 #feature{
    color: red;
 }
