/* Your styles here */
header{
    background-color: rgba(34,47,63,255);
    margin: 0%;
    padding: 0%;
    border-bottom: 10px;
    padding-left: 2%;
}
nav{
    margin: 0%;
    padding: 0%;
    background-color: rgba(54,71,89,255);
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    padding-left: 2%;
}
.ancore-logo{
    color: white;
    display: inline;
    
}

main{
    font-family: Arial, Helvetica, sans-serif;

}

.primo-article{
    padding: 10px;
    margin: 10px;
    background-color:  rgba(245,102,0,255);
    text-align: center;
    color: white;
}
.secondo-article{
    padding: 50px;
    margin: 15px;
    background-image: url(../images/bg-image.png);
    text-align: center;
    color: white;
}
#h2{
    font-size: 30px;
    padding: 4%;
}
.terzo-article{
    background-color: white;
    padding: 25px;
    margin: 15px;
    
}

.menu-2{
    text-align: left;
    margin: 0px;
    padding: 0px;
   
}
article a{
   display: inline;
}


.div-immagine{
    width: calc(100% / 5);
    margin-bottom: 10px;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;

}
.div-immagine img{
    border-radius: 10%;
    max-width: 100%;
    width: fit-content;
    height: 330px;

}


.p-immagini{
    padding: 1px;

    margin: 2px;
    text-align: center;
}

footer p{
    margin: 0%;
    padding: 0%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 0%;
    background-color: rgba(54,71,89,255);
    color:white,

}
footer img{
    background-color: rgba(34,47,63,255);
    margin: 0%;
    padding: 0%;
    border-bottom: 10px;
    padding-left: 2%;
    
    
}