@import '../node_modules/bootstrap/scss/bootstrap.scss';

body{
    background-color: black;
}

.logo-netflix{
    width: 100px;
}

.avatar-img{
    width: 40px;
}
.d-flex select{
    width: 150px;
    
}
.row img:hover{
    scale: 1.5;
    transition-duration: 0.5s;
}
 .row img{
    width: 100%;
}
header a:hover{
   cursor: pointer;
}
.navbar-paginaDue img{
    width: 150px;
    height: 70px;
}
.cursor-icon{
    cursor: pointer;

}
.img-avatar{
    width: 120px;
}
.fit-content{
    width: fit-content;
}
.margin-left{
    margin-left: 135px;
    
}
.fit-content-input{
   width: 200px;
}

.checkbox-style{
    background-color: transparent;
   
    border: 1px solid white;
    
   
    &:focus{
        @extend .checkbox-style;
        box-shadow: none;
        
    }
    &:checked{
        @extend .checkbox-style;
        box-shadow: none;
       
        
    }
}


