/* IMPOSTAZIONI GENERALI */
#sfondo{
    background-image: url(./sfondo.png);
    box-sizing: border-box;
    background-position: top;
    
}
body{
    margin: 10px;
}
/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
