/* IMPOSTAZIONI GENERALI */
 body{
    font-family: 'Poppins', sans-serif;
    background-image: url(./sfondo.png);
    margin: 15px;
 }
/* HEADER */
#primo-id{
    background: rgb(0, 160, 198);
    background: linear-gradient(180deg, rgba(0, 160, 198,1) 0%, rgba(3,109,134,1)68%);
    padding: 30px 0;
    margin-bottom: 15px;
}   

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
