body{
    font-family: "Roboto", sans-serif;
    background-color: rgba(255,255,255,255);
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
    
}
.nav-bar{
    background-color: #ffc017;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: background-color 0.5s ease;

}
.a-elenco{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    
}
.a-finale{
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
    transition:  background-color 0.5s ease;
}

.main-section{

    background-image: url(../imgs/svg/m.svg);
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: solid black;
    height: 370px;
    padding-top: 100px;
    background-color: #ffc017;
    padding-left: 140px;
   

}
.main-section a{
    cursor: pointer;
}
.main-section h1{
    font-size: 80px;
    padding-bottom: 25px;
}
.p-h1{
    padding-bottom: 40px;
    font-size: 20px;
}
.main-section a{
    background-color: black;
    color: white;
    padding: 10px 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    
}
.trending{
    display: flex;
    align-items: center;
}

.primo-blocco{
    display: flex;
    justify-content: flex-start;
    
    width: 30%;
    
    gap: 20px;
    
}
.articolo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}
.articolo h3{
    font-size: 15px;
    font-weight: 700;
}
.allinea{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    
}

#p-gray{
    color: gray;
    font-size: 13px;
}
.allinea img{
    border-radius: 100px;
    width: 20px;
    height: 20px;
}
.numero{
    color: rgba(230,231,231,255);
}
.numero p{
    font-size: 30px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
    height: 350px;
    border-bottom: solid grey;

    
}
.trending{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 10px;
}
.container-due{
    margin-top: 40px;
}
.p-sfondo{
    display: flex;
    align-items: center;
    
    gap: 10px;
    
}
.p-grigia{
    background-color: rgba(242,243,243,255);
    padding: 10px 10px;
    border-radius: 70px;
    font-size: 12px;
    color: gray;
    cursor: pointer;
    
    
}
.container-due{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 25px;

}
.img-scroll img{
    width: 230px;
    height: 150px;
}
.p-scroll{
    width: 400px;
    color: gray;
    font-size: 12px;

}
.container-sotto{
    display: flex;
}
.container-tre{
    margin: 30px;
    position: sticky;
    top:  15%;
    height: 100%;
    z-index: 2;
    align-items: left;

    

    
}
.discover{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
    

}
.blocco-discover{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
     gap: 10px;
     border-bottom: solid gray;
     padding-bottom: 20px;
}
.a-discover{

   border-radius: 40px;
   background-color: #f2f2f2;
   padding: 10px;
   

}

.foot{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    color: gray;
    cursor: pointer;


}
.container-sotto{
    display: flex;
    justify-content: center;
    gap: 15px;

}

/*  tooltip  */

.tooltip-save{
    position: relative;
    cursor: pointer;
    
    
}

.bookmark{
    display: none;
    border-radius: 3px;
}

.bookmark::before{
    content: '';
    position: absolute;
    background-color: black;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    bottom: -5px;
    left: 15px;
    z-index: -1;
    
    



}

.tooltip-save:hover .bookmark{
    display: block;
    background-color: black;
    color: white;
    position: absolute;
    top: -140%;
    left: -30%;
    
    padding: 10px;
    
    font-size: 10px;
}

.nome-autore{
    cursor: pointer;

}

.tooltip-name{
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.contenitore-tool{
    display: none;
}

.tooltip-name:hover .contenitore-tool{
    display: block;
    position: absolute;
    top: -200%;
    left: 80%;
    background-color: white;
    z-index: 2;
    height: 120px;
    width: 180px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1),-5px -5px 20px rgba(0, 0, 0, 0.1);

}

.contenitore-tool::before{
    content: '';
    background-color: white;
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: -1;
    transform: rotate(45deg);
    left: -9px;
    bottom: 50px;
}
.img-nome{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px;
}
.tooltip-name p{
    margin-left: 10px;
    
    
}

.follow-flex{
    display: flex;
    justify-content: space-between;

}

/* navbar che scorrendo cambia colore*/

#navbar.scrolled{
    background-color: white;
}
.a-finale.green-background{
    background-color: green;
    color: white;
    
}

