/* Your styles here */
body{
    color: #393d41;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.65;
}
#logo{
    width: 120%;
    background-position: center;
    text-align: center;
    background-color: black;
    padding: 20px;
    margin-right: 0%;
    
}
#h1{
    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    line-height: 1em;
    padding-bottom: 10px;
    padding-top: 30px;

}
#article{
    background-image: url(./banner.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
    text-align: center;
    width: 130%;
   

   
}
#bottone{
    color: white;
    background-color: #e22d0e;
    font-family: "Montserrat", sans-serif;
}
.section{
    width: 110%;
    text-align: center;
    padding: 20px;
}
.p-azul{
    color: #25a2c3;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    padding-top: 10%;
    padding-left: 50px;
    
}

.text-position{
    padding-top: 10px;
    padding-bottom: 20x;
    padding-left: 40px;
}
.section img{
    border-radius: 50%;
    padding-left: 40px;
}
#testo-rosso{
    background-color: #b8250b;
   padding-left: 20px;
}

#h3-n1{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    padding-top: 40px;
    padding-bottom: 15px;
}
#p-red{
    color: white;
    font-size: 0.8rem;
    padding-bottom: 10px;
}
.mario-ceo{
    color: white;
    font-size: 1rem;
}
.mario-ceo div{
    font-size: 0.8rem;
    padding-bottom: 15px;
}
.section-schede{
    text-align: center;
    padding-left: 85px;
    background-color: white;
    
}
.section-schede img{
    padding-left: 30px;
    text-align: center;
    margin: 10px;
}
.azzurro-schede{
    color: #25a2c3;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    padding-left: 70px;
}
.p-schede{
    padding-left: 20%;
}